<div class="container-fluid d-flex flex-wrap gap-4 my-2">
  <div class="card flex-grow-1">
    <div class="card-body">
      <h5 class="card-title">Sede Tunja</h5>
      <h6 class="card-subtitle mb-2 text-muted">Cantidad de espacios:</h6>
      <h6 class="card-subtitle mb-2 text-muted">Tunja, Boyacá, Calle 16Bis # 50-93</h6>
      <table id="table-user" class="table">
        <thead>
          <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ratione consequatur corporis facere laboriosam optio fugiat qui praesentium. Maxime corrupti nam voluptatem dolorum incidunt accusantium labore earum corporis magnam non.</p>
      <div class="d-flex gap-3">
        <button class="btn btn-outline-primary">Modificar</button>
        <button class="btn btn-outline-danger">Eliminar</button>
      </div>
    </div>
  </div>





</div>
