<div id="container row">
  <div class="d-flex gap-3 py-1 text-center border-bottom align-items-center">
    <h4 style="flex-basis: 50%;">Inventario</h4>
    <div style="flex-basis: 50%;" class="row justify-items-evenly align-items-center gap-3 px-3">
      <button class="btn btn-success col" (click)="cambiarComponente(1)">| Crear Objeto</button>
      <button class="btn btn-dark col" (click)="cambiarComponente(0)">| Ver Inventario</button>
    </div>
  </div>
  <div id="data">
    <ng-container *ngComponentOutlet="componentes[indiceComponenteActual].componente"></ng-container>
  </div>
</div>
