<div class="container m-2">
  <div class="card">
    <div class="card-header">
      <h4>Creación de Reserva</h4>
    </div>
    <div class="card-body w-100">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div style="flex-basis: 45%;" class="d-flex flex-column gap-1">
          <label class="h6" for="campus">Sede</label>
          <select name="" id="campus"></select>
        </div>
        <div style="flex-basis: 45%;" class="d-flex flex-column gap-1">
          <label class="h6" for="campus">Espacio</label>
          <select name="" id="campus"></select>
        </div>
      </div>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
