<div id="home" class="d-flex gap-4" style="width: 95vw; height: 100%;">
  <div id="img-home" style="flex-basis: 20%;" class="bg-primary border rounded d-flex justify-content-center">
    <img style="flex-basis: 70%;" src="../../assets/img-stock/LogoElCamello.svg" alt="">
  </div>
  <div style="flex-basis: 80%;" class="d-flex flex-column w-100 h-100">
    <div class="d-flex flex-column justify-content-center align-items-start">
      <h1 class="display-4">Mis Reservas</h1>
      <p class="h6">En este espacio puedes encontrar la lista de reservas que realizaste a lo largo del tiempo...</p>
    </div>
    <div class="container border rounded p-3 d-flex flex-wrap justify-content-center gap-3 w-100 overflow">
      <div class="card" style="height: 250px; width: 30%;">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
      </div>



    </div>
  </div>
</div>
