<div class="d-flex flex-column justify-items-center" style="height: 100vh;">
  <div class="bg-dark text-white d-flex text-center align-items-center  ">
    <span class="col">ADMINISTRADOR</span>
    <a class="col" href="/adminHome"><h1 class="h2 text-white">El Camello Coworking</h1></a>
    <div class="col w-50">

      <button type="button" class="btn btn-outline-light" placement="bottom" [ngbPopover]="popoverContent">
        {{name}} {{surname}}
      </button>

      <ng-template #popoverContent>
        <div class="d-flex flex-column gap-2">
          <button (click)="cambiarComponente(5)" type="button" class="btn btn-outline-primary mr-2">Ver Perfil</button>
          <button (click)="logout()" type="button" class="btn btn-outline-danger">Cerrar Sesión</button>
        </div>
      </ng-template>


    </div>
  </div>
  <div class="flex-grow-1 d-flex flex-row w-100 justify-items-start">
    <div style="flex-basis: 15%;" class="d-flex flex-column gap-2 p-2">
      <button type="button" class="option-btn btn-3" (click)="cambiarComponente(0)"><img class="img-btn" src="../../assets/img-stock/campusIcon.svg" alt="">Sedes</button>
      <button type="button" class="option-btn btn-1" (click)="cambiarComponente(1)"><img class="img-btn" src="../../assets/img-stock/usersIcon.svg" alt="">Usuarios</button>
      <button type="button" class="option-btn btn-2" (click)="cambiarComponente(4)"><img class="img-btn" src="../../assets/img-stock/stockIcon.svg" alt="">Inventario</button>
      <button type="button" class="option-btn btn-2" (click)="cambiarComponente(6)"><img class="img-btn" src="../../assets/img-stock/scheduleIcon.svg" alt="">Horarios</button>
      <button type="button" class="option-btn btn-4" (click)="cambiarComponente(2)"><img class="img-btn" src="../../assets/img-stock/bookingIcon.svg" alt="">Reservas</button>
      <button type="button" class="option-btn btn-4" (click)="cambiarComponente(3)"><img class="img-btn" src="../../assets/img-stock/reportsIcon.svg" alt="">Reportes</button>
    </div>
    <div class="bg-light p-2" style="flex-basis: 85%;">
      <div class="col-sm-10 bg-light container">
        <ng-container *ngComponentOutlet="componentes[indiceComponenteActual].componente"></ng-container>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="modal fade" id=infoModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sesión expirada</h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" id="modal-body">
          La sesión actual acaba de expirar, es necesario que se registre nuevamente
        </div>
      </div>
    </div>
  </div>
</div>
